<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>即時股價</title>
    <style>
        .errorlist{
            color: red;
            background-color: white;
        }

        .nowstock_form {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin-top: -300px;
            font-size: 30px;
        }

        .stocknm, button{
            font-size: 30px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>#如要查詢多支股票，請用空白隔開</h1>
    <form method="post" class="nowstock_form" action="/stock/nowstock/" target="_blank">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">開搜</button>
</body>
</html>